// FONTS
$body-font: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$heading-font: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$page-font-size: 16px;

// COLORS
$cta-color: #0F82E6;
$cta-on-dark-color: #FFFFFF;
$text-color: #99A4B3;
$text-on-dark-color: #C5CED8;
$strong-text-color: #404851;
$strong-on-dark-text-color: #FFFFFF;
$border-color: #F1F2F4;
$site-bg-color: #FFFFFF;
$dark-bg-color: #24486C;
$off-white-color: #F1F2F4;

// UNITS & MEASUREMENTS
$padding: 30px;
$border-radius: 0.5rem;
$site-width: 960px;
